<mat-toolbar color="primary">
    <img src="assets/images/logo.webp" alt="Flux24 Logo" class="toolbar-logo">
    <span class="iceland-regular">flux24</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home/landing">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
    
    <button mat-button routerLink="auth/login">Login</button>
  </mat-toolbar>
  
<router-outlet></router-outlet>
